.container .search-box {
  width: 100%;
  display: flex;
  align-items: center;
 
}

.container .search-box form {
  width: 70%;
  margin: 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #6F6F6F;
  border-radius: 40px;
  padding: 15px;
  outline: none;
  cursor: pointer;
}

.container .search-box form:hover {
  border: 1px solid #007bff;
}

.container .search-box form input {
  width: 80%;
  font-size: 15px;
  outline: none;
  border: none;
}

.container .search-box form button {
  background-color: transparent;
  border: none;
}

.container .search-box form button i {
  font-size: 20px;
}

.container .search-box a {
  width: 20%;
  background-color:#E65510;
  padding: 15px;
  font-size: 15px;
  border: 1px solid #E65510;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  color: black;

}

.container .search-box a:hover {
  background-color: #e65410d0;
  border: 1px solid #e65410d0;

}

.container .list-box {
  height: 85%;
  padding: 20px;
  font-size: 28px;
  background-color:#0b3f44;
  border-radius: 50px;
  width: 95%;
  overflow-y: auto;

  /* Para Firefox */
  scrollbar-width: thin;
  scrollbar-color: #ffffff transparent;
}

/* Para Chrome */
.container .list-box::-webkit-scrollbar {
  width: 8px;
}

.container .list-box::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 4px;
}

.container .list-box::-webkit-scrollbar-track {
  background: transparent;
}

.container .list-box li {
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  border-bottom: 1px solid #ffffff;
}

.container .list-box .div-op {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 30%;
}

.container .list-box li p {
  font-size: 20px;
  width: 80%;
}

.container .list-box .div-op a,
.container .list-box .div-op form {
  margin: 0 5px;
}

.container .list-box .div-op form {
  display: flex;
  align-items: center;
}

.container .list-box .div-op .edit-btn i,
.container .list-box form .delete-btn i {
  font-size: 20px;
  padding: 6px;
  border-radius: 20px;
  color: #0b3f44;
  cursor: pointer;

}