html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

main {
  height: 100%;
  display: flex;
}

main .menu-bar {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #2E8C8C;
}

main .menu-bar .div-1,
main .menu-bar .div-2 {
  gap: 1.5vh;
  padding: 4vh 2vh;
  margin: 2vh;
  display: flex;
  flex-direction: column;
}

main .menu-bar .div-2 {
  margin-top: auto;
  padding-bottom: 7.5vh;
}

main .menu-bar .div-1 a,
main .menu-bar .div-2 form button {
  font-size: 2.2vh;
  color: #9CD7D7;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1vh;
  cursor: pointer;
}
main .fundo_verde {
  width: 70%;
  height: 700px;
  background-color: #003333;
  margin-top: 200px;
  margin-left: 60px;
  border-radius: 50px;
  overflow-y: auto;
  white-space: nowrap;

  
}

main .fundo_verde .nomes {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  overflow-x: auto;
  
}

main .fundo_verde .nomes li {
  margin: 20px;
  padding-left: 30px;
  background-color: white;
  width: 830px;
  border-radius: 40px;

  position: relative;
  
}
main .fundo_verde .nomes li .fa-solid.fa-trash-can {
  padding-left: 70px;
  font-size: 50px;
  color: white;
  position: absolute;
  right: -200px;
  top: 50%;
  transform: translateY(-50%)
}
main .fundo_verde .nomes li .fa-regular.fa-pen-to-square {
  padding-left: 70px;
  font-size: 50px;
  color: white;
  position: absolute;
  right: -100px;
  top: 50%;
  transform: translateY(-50%)
}

main .cadastrar {
  position: absolute;
  width: 210px;
  height: 80px;
  background-color: #fa4a0c;
  margin-left: 1500px;
  margin-top: 70px;
  border-radius: 40px;
  
}

main .cadastrar h1 {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 33px;
  padding-left: 15px;
  color: white;

}
main .pesquisa{
  width: 1000px;
  height: 80px;
  position: absolute;
  display: flex;
  margin-left: 450px;
  margin-top: 70px;

}
main .pesquisa .campo-pesquisa {
  width: 100%;
  padding: 10px 15px;
  background-color: white;
  border-radius: 30px;
  font-size: 40px;
}

main .pesquisa .botao-pesquisa {
  width: 10%;
  border-radius: 5px;
}
main .pesquisa ::placeholder {
  font-size: 30px;
  opacity: 0.7;
  
}